<div class = "container"> 
        <h1 class="cons-title">Time</h1>
        <h5 class="sub-text">Destaques rubro-negro</h5>
           <div class="card-group">
                   <div class="card">
                   <img class="card-img-top cons-img" src="https://i.imgur.com/aZcJgly.jpg" alt="Card image cap">
                   <div class="card-body">
                       <h5 class="card-title">Francine</h5>
                       <p class="card-text">Campeã da Superliga 2013/14, a levantadora Francine Tomazoni é mais um reforço do Flamengo.</p>
                   </div>
                   </div>
                   <div class="card">
                   <img class="card-img-top cons-img" src="https://i.imgur.com/oNu7Pdf.jpg" alt="Card image cap">
                   <div class="card-body">
                       <h5 class="card-title">Malu</h5>
                       <p class="card-text">
                       Duas vezes medalhista de ouro na Copa do Brasil, cinco vezes no Campeonato Mineiro e vice mundial. </p>
                   </div>
                   </div>
                   <div class="card">
                   <img class="card-img-top cons-img" src="https://i.imgur.com/bWmDQii.jpg" alt="Card image cap">
                   <div class="card-body">
                       <h5 class="card-title">Fê Ísis</h5>
                       <p class="card-text">Duas vezes campeã da Superliga pelo Rexona-Ades (atual Sesc-RJ), a jogadora de 34 anos.</p>
                   </div>
                   </div>
               </div>
               <div class="card-group">
                       <div class="card">
                       <img class="card-img-top cons-img" src="https://i.imgur.com/8BaZ2F7.jpg" alt="Card image cap">
                       <div class="card-body">
                           <h5 class="card-title">Roberta</h5>
                           <p class="card-text">A atleta de Niterói (RJ) tem larga experiência internacional e importantes títulos conquistados na Europa.</p>
                       </div>
                       </div>
                       <div class="card">
                       <img class="card-img-top cons-img" src="https://i.imgur.com/f7utAza.jpg" alt="Card image cap">
                       <div class="card-body">
                           <h5 class="card-title">Valeria Papa</h5>
                           <p class="card-text">
                               Jogou na principal divisão da Itália. Passou as 2 últimas temporadas no Savino del Bene Scandicci.</p>
                       </div>
                       </div>
                       <div class="card">
                       <img class="card-img-top cons-img" src="https://i.imgur.com/IqhlMCc.jpg" alt="Card image cap">
                       <div class="card-body">
                           <h5 class="card-title">Bia Flávio</h5>
                           <p class="card-text">A atacante Bia Flávio chega ao Mais Querido para a disputa da Superliga. Ela tem 20 anos e é uma das promessas da modalidade</p>
                       </div>
                       </div>
                   </div>
                   <div class="card-group">
                           <div class="card">
                           <img class="card-img-top cons-img" src="https://i.imgur.com/EfeosUd.jpg" alt="Card image cap">
                           <div class="card-body">
                               <h5 class="card-title">Gabi Dutra</h5>
                               <p class="card-text"> Gabriella Dutra é líbero e tem experiência na Superliga. Aos 20 anos, Gabi defendeu o Fluminense na elite do vôlei.</p>
                           </div>
                           </div>
                           <div class="card">
                           <img class="card-img-top cons-img" src="https://i.imgur.com/y1jR59p.jpg" alt="Card image cap">
                           <div class="card-body">
                               <h5 class="card-title">Natália</h5>
                               <p class="card-text">
                                       Natural de Porto Alegre, Natália tem 1.80 e passou por Sogipa, Tijuca Tênis Clube e Minas Tênis Clube.</p>
                           </div>
                           </div>
                           <div class="card">
                           <img class="card-img-top cons-img" src="https://i.imgur.com/WzMktOQ.jpg" alt="Card image cap">
                           <div class="card-body">
                               <h5 class="card-title">Vicky Mayer</h5>
                               <p class="card-text">Disputou recentemente a Copa do Mundo de Voleibol, no Japão, e é vista como uma das maiores promessas da modalidade.</p>
                           </div>
                           </div>
                       </div>
       
                       <div class="card-group">
                               <div class="card">
                               <img class="card-img-top cons-img" src="https://i.imgur.com/BR4ttEk.jpg" alt="Card image cap">
                               <div class="card-body">
                                   <h5 class="card-title">Nandyala Gama</h5>
                                   <p class="card-text"> A meio de rede passou pelo Minas Tênis Clube antes de atuar pela San Jose State University, onde se formou em Comunicação</p>
                               </div>
                               </div>
                               <div class="card">
                               <img class="card-img-top cons-img" src="https://i.imgur.com/C9MlmFu.jpg" alt="Card image cap">
                               <div class="card-body">
                                   <h5 class="card-title">Angelica Caboclo</h5>
                                   <p class="card-text">
                                           Após passagem por Israel, onde defendeu o clube Kfar Saba. Figurando entre as maiores pontuadoras da equipe.</p>
                               </div>
                               </div>
                               <div class="card">
                               <img class="card-img-top cons-img" src="https://i.imgur.com/GKtNOE4.jpg" alt="Card image cap">
                               <div class="card-body">
                                   <h5 class="card-title">Jessica Silva</h5>
                                   <p class="card-text">Jessica tem passagens por equipes tradicionais do voleibol brasileiro, como Esporte Clube Pinheiros e Sesi São Paulo, e internacional, como o Club Volei Logrono.</p>
                               </div>
                               </div>
                           </div>
           </div>
       
           <!-- Footer -->
           <footer class="page-footer font-small blue primary-color ">
       
                   <!-- Copyright -->
                   <div class="footer-copyright text-center py-3 footer-text">© 2019 Copyright:
                       <a class="footer-link" href="https://mdbootstrap.com/education/bootstrap/"> flamengo.com.br</a>
                   </div>
                   <!-- Copyright -->
                   
                   </footer>
                   <!-- Footer -->
               