<!-- Cards & Search -->
<div class = "container content"> 

        <!-- Search -->
        <form (submit)="buscar()">
            <div class="p-1 bg-light  shadow-sm mb-4">
              <div class="input-group">
                <input type="text" placeholder="Buscar esportes" aria-describedby="button-addon1" 
                class="form-control border-0 bg-light" id='textoBuscado' name="textoBuscado" [(ngModel)]="textoBuscado">
                <div class="input-group-append">
                  <button *ngIf="ehIgual" routerLink="/consulta" id="button-addon1" type="submit" class="form-control border-0 bg-light"><i class="fa fa-search"></i></button>
                  <button *ngIf="!ehIgual" id="button-addon1" type="submit" class="form-control border-0 bg-light"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </form>
         
<!-- Cards -->
<h3 class="cards-event text-primary">Próximas competições</h3>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top home-img" src="https://i.imgur.com/O9ngUDO.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Vôlei</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Flamengo X Fluminense</li>
            <li class="list-group-item">Maracanãzinho - Sáb, 26/10 13:30</li>
            <li class="list-group-item">Desafio MG x RJ</li>
          </ul><div class="card-footer text-right">
              <a routerLink="/time"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>
              <div class="popup"><span class="popuptext primary-color" id="myPopup">Evento agendado!</span>
              
              <button  class="popup btn" (click)="myFunction(); actionMethod(); clicked = true;" [disabled]="clicked" type="button">Adicionar Evento
                 
              </button>
            </div>
        </div>
      </div>


  <div class="card">
    <img class="card-img-top home-img" src="https://i.imgur.com/Uf2aO2w.jpg" alt="Futebol Feminino Flamengo">
    <div class="card-body">
      <h5 class="card-title">Futebol</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Flamengo X Botafogo</li>
      <li class="list-group-item">Maracanã - Dom, 27/10 16:30</li>
      <li class="list-group-item">Brasileirão Série A</li>
    </ul>
    <div class="card-footer text-right">
       
        <a routerLink="/time"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>
        <div class="popup"><span class="popuptext primary-color" id="myPopup2">Evento agendado!</span>
        
        <button  class="popup btn primary-color" (click)="myFunction2(); actionMethod(); clicked2 = true;" [disabled]="clicked2" type="button">Adicionar Evento
           
        </button>
      </div>
  </div>
  </div>

  <div class="card">
    <img class="card-img-top home-img" src="https://i.imgur.com/8kptHzN.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Natação</h5>
      
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Time Flamengo</li>
        <li class="list-group-item">Beira-Rio - Ter, 29/10 11:00</li>
        <li class="list-group-item">Festival Sudeste Mirim</li>
      </ul><div class="card-footer text-right">
          <a routerLink="/time"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>
          <div class="popup"><span class="popuptext primary-color" id="myPopup3">Evento agendado!</span>
        
          <button  class="popup btn primary-color" (click)="myFunction3(); actionMethod(); clicked3 = true;" [disabled]="clicked3" type="button">Adicionar Evento
             
          </button>
        </div>
    </div>
  </div>
</div>
 


<h3 class="cards-event text-primary">Sugestões</h3>
<div class="card-deck">
    <div class="card">
      <img class="card-img-top home-img" src="https://i.imgur.com/SDt00qW.jpg" alt="Futebol Feminino Flamengo">
      <div class="card-body">
        <h5 class="card-title">Nado Artístico</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Rubro Negro</li>
        <li class="list-group-item">Pacaembu - Dom, 27/10 21:10</li>
        <li class="list-group-item">Campeonato Estadual</li>
      </ul><div class="card-footer text-right">
          <a routerLink="/time"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>
          <div class="popup"><span class="popuptext primary-color" id="myPopup4">Evento agendado!</span>
        
          <button  class="popup btn primary-color" (click)="myFunction4(); actionMethod(); clicked4 = true;" [disabled]="clicked4" type="button">Adicionar Evento
             
          </button>
        </div>
    </div>
  </div>

    <div class="card">
      <img class="card-img-top home-img" src="https://i.imgur.com/IW8aflH.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Judô</h5>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Sarah Menezes</li>
          <li class="list-group-item">Santa Cruz - Seg, 02/12 17:30</li>
          <li class="list-group-item">Circuito Rio de Janeiro</li>
        </ul>
        <div class="card-footer text-right">
            <a routerLink="/time"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>
            <div class="popup"><span class="popuptext primary-color" id="myPopup5">Evento agendado!</span>
        
            <button  class="popup btn primary-color" (click)="myFunction5(); actionMethod(); clicked5 = true;" [disabled]="clicked5" type="button">Adicionar Evento
               
            </button>
          </div>
        </div>
    </div>

    <div class="card">
      <img class="card-img-top home-img" src="https://i.imgur.com/pnLCtyQ.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ginástica Artística</h5>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Flavia Saraiva</li>
          <li class="list-group-item">Arena Joinville - Qui, 31/10 20:40</li>
          <li class="list-group-item">Mundial de Stuttgart</li>
        </ul>
        <div class="card-footer text-right">
            <a routerLink="/time"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>
            <div class="popup"><span class="popuptext primary-color" id="myPopup6">Evento agendado!</span>
        
            <button  class="popup btn primary-color" (click)="myFunction6(); actionMethod(); clicked6 = true;" [disabled]="clicked6" type="button">Adicionar Evento
               
            </button>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue primary-color ">

<!-- Copyright -->
  <div class="footer-copyright text-center py-3 footer-text">© 2019 Copyright:
    <a class="footer-link" href="https://mdbootstrap.com/education/bootstrap/"> flamengo.com.br</a>
  </div>
<!-- Copyright -->

</footer>
<!-- Footer -->
